body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#bg {
  background-image: url("https://sssssssthedev.github.io/img/background.png");
  text-align: center;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#portal{
  bottom: 0;
  height: 400px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 1000px
}